---
- name: Locate server packages
  find:
    paths: "/root/tl-{{ thinlinc_version }}-server/packages"
    patterns:
      - "thinlinc*x86_64.rpm"
      - "thinlinc*noarch.rpm"
  register: _packages

- name: Install ThinLinc Software
  zypper:
    name: "{{ _packages.files | map(attribute='path') | list }}"
    state: present
    disable_gpg_check: true
  notify: run tl-setup
