---
- name: Locate server packages
  find:
    paths: "/root/tl-{{ thinlinc_version }}-server/packages"
    patterns:
      - "thinlinc*amd64.deb"
      - "thinlinc*all.deb"
  register: _packages

# The apt provider actually calls dpkg for local packages, which isn't
# clever enough to handle our upgrades:
# https://github.com/ansible/ansible/issues/77150
#
- name: Install ThinLinc Software
  command: >
      /usr/bin/apt-get install -y
      -o Dpkg::Options::="--no-debsig"
      -o Dpkg::Options::="--force-confold"
      {{ _packages.files | map(attribute='path') | join(' ') }}
  environment:
    DEBIAN_FRONTEND: noninteractive
  notify: run tl-setup
