---
- name: Ensure architecture is supported by current version
  assert:
    that: thinlinc_version is version('4.14.0', '<=')
    msg: "32-bit architecture not supported by this version"
  when: ansible_architecture == 'i386'

- name: Installing pre-requisites
  package:
    name: unzip
    state: present
    update_cache: true

- name: Collect installed packages
  package_facts:

- name: Installing ThinLinc packages
  block:
    - name: Unpacking ThinLinc server bundle
      unarchive:
        src: "{{ thinlinc_bundle_path }}"
        dest: /root
        creates: "/root/tl-{{ thinlinc_version }}-server"
    - name: Run tasks for RHEL-like
      include_tasks: "install-thinlinc-rhel.yml"
      when: ansible_facts['os_family'] == "RedHat"
    - name: Run tasks for SUSE-like
      include_tasks: "install-thinlinc-suse.yml"
      when: ansible_facts['os_family'] == "Suse"
    - name: Run tasks for Debian-like
      include_tasks: "install-thinlinc-debian.yml"
      when: ansible_facts['os_family'] in ["Debian", "Ubuntu", "Linuxmint"]
  when: >
    (('thinlinc-server' not in ansible_facts['packages']) or
     (ansible_facts['packages']['thinlinc-server'][0]['version'].split('-') | first != thinlinc_version))
    and
    (('thinlinc-vsm' not in ansible_facts['packages']) or
     (ansible_facts['packages']['thinlinc-vsm'][0]['version'].split('-') | first != thinlinc_version))

# Workaround for OpenSUSE Tumbleweed usr merge
# See https://www.cendio.com/bugzilla/show_bug.cgi?id=7829
- name: Copy /usr/etc/pam.d/sshd
  include_tasks: "copy_usr_etc_pam_sshd.yml"
  when: ansible_facts['os_family'] == "Suse"

- name: Copy in tlsetup.answers
  template:
    src: thinlinc-setup.answers.j2
    dest: /root/thinlinc-setup.answers
    owner: root
    group: root
    mode: '0644'
  notify: run tl-setup

- name: Force tl-setup to run if required
  meta: flush_handlers

- name: Configure /vsmagent/agent_hostname
  tlconfig:
    param: /vsmagent/agent_hostname
    value: "{{ thinlinc_agent_hostname | default(ansible_facts['fqdn']) }}"
  notify: restart vsmagent
  when: "'thinlinc_agents' in group_names"

- name: Configure /vsmagent/master_hostname
  tlconfig:
    param: /vsmagent/master_hostname
    value: "{{ groups['thinlinc_masters'][0] | default('localhost') }}"
  notify: restart vsmagent
  when: "'thinlinc_agents' in group_names"

- name: Configure /vsmagent/allowed_clients
  tlconfig:
    param: /vsmagent/allowed_clients
    value: "{{ groups['thinlinc_masters'] | default(['localhost'], true) | join(' ') }}"
  notify: restart vsmagent
  when: "'thinlinc_agents' in group_names"

- name: Configure list of agent servers
  tlconfig:
    param: /vsmserver/subclusters/Default/agents
    value: "{{ groups['thinlinc_agents'] | default(['localhost'], true) | join(' ') }}"
  notify: restart vsmserver
  when: "'thinlinc_masters' in group_names"

- name: Configure /webaccess/listen_port
  tlconfig:
    param: /webaccess/listen_port
    value: "{{ thinlinc_webaccess_port }}"
  notify: restart tlwebaccess

- name: Configure /webaccess/login_page
  tlconfig:
    param: /webaccess/login_page
    value: "{{ thinlinc_webaccess_login_page }}"
  notify: restart tlwebaccess

- name: Configure /tlwebadm/listen_port
  tlconfig:
    param: /tlwebadm/listen_port
    value: "{{ thinlinc_webadm_port }}"
  notify: restart tlwebadm
